/* Imagem principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #fff;
}

main .image {
    max-width: 1200px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

main .image img {
    width: 100%;
    height: auto;
}